<h2>Total Calls Made </h2>
<p> <%= @logs.length %> </p>

<h3>Total Local Calls </h3>

<% local_sum = 0 %>
<% local_contacts = Contact.where('contact_type = ?', "local") %>
<% local_contacts.each do |local_contact| %>
   <% local_sum += local_contact.logs.count %>
<% end %>

<p><%= local_sum %> </p>

<h3>Total STD Calls </h3>

<% std_sum = 0 %>
<% std_contacts = Contact.where('contact_type = ?', "std") %>
<% std_contacts.each do |std_contact| %>
   <% std_sum += std_contact.logs.count %>
<% end %>

<p><%= std_sum %> </p>


<h3> Pie Chart </h3>

<% data_hash = {"std" => std_sum, "local"=> local_sum} %>
<%= pie_chart(data_hash) %>

<hr/>

<h2>Total Bill Amount </h2>
<% total_bill = 0 %>
<% @logs.each do |log| %>
	<% total_bill += log.amount %>
<% end %>

<p> <%= total_bill %> </p>



<h3>Total Local Calls Amount </h3>
<% total_local_amount = 0 %>
<% local_contacts.each do |local_contact| %>
	<% local_contact.logs.each do |log| %>
		<% total_local_amount += log.amount %>
	<% end %>
<% end %>

<p> <%= total_local_amount %> </p>

<h3>Total STD Calls Amount </h3>
<% total_std_amount = 0 %>
<% std_contacts.each do |std_contact| %>
	<% std_contact.logs.each do |log| %>
		<% total_std_amount += log.amount %>
	<% end %>
<% end %>

<p> <%= total_std_amount %> </p>



<h3> Pie Chart </h3>

<% data_hash = {"local_amount" => total_local_amount, "std_amount"=> total_std_amount} %>
<%= pie_chart(data_hash) %>

<hr/>