<table border = '1'>
  <thead>
     <tr>
        <th>Sno</th>
        <th>Number</th>
        <th>Call Date</th>
        <th>Duration</th>
        <th>Amount</th>
     </tr>
  </thead>
  <tbody>
        <% @logs.each_with_index do |log, index| %>
            <tr>
                 <td> <%= index+1 %></td>
                 <td> <%= log.contact.number %> </td> 
  		         <td> <%= log.call_date %> </td>
  		         <td> <%= log.duration %> </td>
  		         <td> <%= log.amount %> </td>
  		    </tr>
  	    <% end %>
  </tbody>
</table>
